header{
  background-color: #6CBBDC;
}


.bannerheader{
  width: 100%;
  height: 150px;
}


.nav-list {
  list-style: none;
  color: gray;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-list li {
  position: relative;
}

a.nav-link {
  color: white;

}


/* Links dentro do dropdown */
.nav-sublink {
  display: block;
  padding: 10px 30px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}

/* Hover mais moderno */
.nav-sublink:hover {
  background-color: #f5f5f5;
  color: gray;
  padding-left: 25px; 
}

span.nav-link{
  color: white;
}


.nav-link {

  color: black;
  padding: 10px 15px;
  display: block;
}

/* Estilos para submenu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* abaixo do item pai */
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0;
  list-style: none;
  z-index: 1000;
  min-width: 180px;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu .nav-link {
  padding: 10px 15px;
  white-space: nowrap;
}

.nav-item:hover .dropdown-menu {
  color: white;
  display: block;
}

/* Ãcone de seta opcional */
.nav-item > .nav-link::after {
  content: '';
  margin-left: 5px;
}


